*{
    margin: opx;
    padding: opx;
    text-align: center;
}

.heading{
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    
}

.choice{
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

.choice:hover{
    cursor: pointer;
    background-color: #081b31;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.Choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 20px;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 2rem;
    gap: 5rem;
}

#userScore,#compScore{
    font-size: 5rem;
}

#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    padding: 1rem;
    display: inline;
    border-radius: 1rem;
}

.message-container{
    margin-top: 5rem;
}